%text-clothes{
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    padding: 5px;
}

.clothes{
    background: #e9f0fd;  
}

.product{
    margin: 15px;
    margin-top: 80px;

    img{
        width: 100%;
        height: auto;
    }

    .link{
        width: 100%;
        height: 25px;
        a{
            display: flex;
            align-items: flex-end;
            text-decoration: none;
        }
        
        span{
            width: 55px;
            @extend %text-clothes;
            background: #8c8c8c;
            padding-left: 10px;
        }

        h3{
           width: calc(100% - 55px);
            @extend %text-clothes;
            background: #323232;
            margin: 0;
            padding-left: 15px;
        }
    }
}

@media screen and (min-width: 900px ) and (max-width: 1185px ){
    .product {
        width: 21%;

        .link{
            h3{
                font-size: 12px;    
            }
        }
    }
}

@media screen and (min-width: 1185px ){
    .product {
        width: 21%;
    }
}




