%contacts-style-text{
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: 300;
}
.contacts{
    background: url(../../img/map-bg.png) #2d3237 no-repeat;
    background-position: center;
    
    h2{
        color: #ffffff;
        margin-bottom: 55px;
    }

    h3{
        @extend %contacts-style-text;
        font-size: 72px;
        line-height: 45px;

        &::first-letter{
            color: #4ec6ab;
        }
    }

    h4{
        @extend %contacts-style-text;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        margin: 25px 0;
    }
    
    p{
        @extend %contacts-style-text;
        font-size: 14px;
        line-height: 24px;
    }

    ul{
        padding: 0;
        margin: 0;
      //  display: block;
    }

    li{
        display: inline-block;
        border: 1px #ffffff solid;
        margin-right: 10px;
        width: 35px;
        height: 35px;
        font-size: 13px;
        text-align: center;
        padding: 7px;
        background: transparent;
        list-style: none;
    
        a{
            color: #ffffff;
        }

        &:hover{
            background: #46bfa9;
            border-color: #46bfa9;
        }
    }

span{
        color: #46bfa9;
        font-weight: bold;
    }
}

.contacts-block{
    width: 47%;
    margin: 15px;
    
    input, textarea{
        @extend %contacts-style-text;
        background: transparent;
        margin-bottom: 15px;
        margin-left: 0;
        border: 1px #ffffff solid;
        padding: 15px;
        color: #ffffff;
        width: 49%;

        &:nth-child(2),
        &:nth-child(4){
            float: right;
        }
    }

    ::-webkit-input-placeholder{
        color: #ffffff;
    }

    textarea{
        height: 150px;
        width: 100%;
        overflow: auto;
    }

    button{
        padding: 10px 40px;
        background: #46bfa9;
        color: #ffffff;
        text-transform: uppercase;
        border: none;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 45px;

    }
}

@media screen and (max-width: 1050px){
    .contacts-block{
       margin: 0;
       margin-bottom: 10px;
       width: 100%;

        input, 
        textarea,
        button{
            float: none;
            width: 100%;
            font-size: 14px;
        }
    }
}
