@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,700,800,400italic);
.titles h2, .review h1, .newsletter h2, .news h2, .contacts h2 {
  text-align: center;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 30px;
  color: #515151; }

.phone-email li, .myAccount li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  line-height: 11px;
  vertical-align: 20;
  margin-left: 30px; }
  .phone-email li:first-child, .myAccount li:first-child {
    margin: 0; }

.phone-email, .myAccount {
  margin-top: 15px;
  padding: 0; }

.header-top > .container {
  padding: 0; }

.header-top {
  background: #1abc9c;
  font-family: 'Open Sans Light';
  font-size: 14px;
  color: #fefefe; }

.phone-email {
  float: left; }

.myAccount {
  float: right; }
  .myAccount li a {
    color: #fefefe;
    text-decoration: none; }

.header-menu {
  background: #ffffff;
  font-family: 'Open Sans Light';
  font-size: 14px;
  color: #fefefe;
  height: 90px;
  width: 100%; }

.header-menu > .container {
  padding-top: 25px;
  padding-bottom: 38px; }

.logo:first-letter {
  color: #1abc9c; }

.logo {
  text-transform: uppercase;
  font-family: 'Roboto Light';
  font-size: 30px;
  line-height: 32px;
  vertical-align: -20;
  color: #555252;
  float: left; }

.menu {
  width: 470px;
  margin: 0 auto;
  margin-top: 18px;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Open Sans Bold';
  font-size: 14px;
  line-height: 11px;
  vertical-align: -20; }
  .menu :first-child {
    margin-left: 0; }
  .menu li {
    display: inline-block;
    margin-left: 30px; }
  .menu a {
    text-decoration: none;
    color: #0f0101;
    font-weight: 700; }
  .menu :hover {
    color: #1abc9c; }

.search {
  margin-top: 12px;
  float: right;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 11px;
  vertical-align: -20;
  font-weight: 700;
  color: #0f0101; }

.slider h1, .slider h2, .slider .buyNow {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 48px;
  vertical-align: -20;
  font-family: 'Roboto';
  font-weight: 300; }

.title-text {
  bottom: 25%; }

.slider {
  text-align: center; }
  .slider h1 span {
    color: #1abc9c;
    font-weight: 400; }
  .slider h2 {
    font-family: 'Open Sans';
    font-weight: 400; }
    .slider h2 span {
      color: #1abc9c;
      font-weight: 300; }
  .slider .buyNow {
    display: inline-block;
    font-size: 14px;
    border: 2px #1abc9c solid;
    text-shadow: none;
    margin-top: 25px;
    padding: 10px 30px; }
    .slider .buyNow:hover {
      background: #1abc9c;
      text-decoration: none;
      color: #ffffff; }

/*   .left{
       float: left;
   }
   
   .right{
       float: right;
   }*/
    /*.coursor{
       // top: 50%;
       padding-top: 13px;
        font-size: 50px;
        width: 105px;
        height: 105px;
        background: #469280;
        opacity: 0.5;
        color: #ffffff;
        text-align: center;

        &:hover{
            opacity: 1;
        }
        
        span{
            font-size: 90px;
            color: #ffffff;
        }
    }*/
.textBlocks > .container {
  text-align: center;
  display: flex;
  justify-content: space-between; }

.hoverH3 {
  color: #656565; }
  .hoverH3:hover {
    color: #1abc9c; }

.block-text {
  text-align: center;
  margin-left: 30px; }
  .block-text :last-child {
    margin-left: 0; }
  .block-text i {
    font-size: 70px; }
  .block-text h3 {
    margin-top: 55px;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700; }
  .block-text p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555252;
    vertical-align: -20; }

.block-clothes .link span, .block-clothes .link h3 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 5px; }

.clothes {
  background: #e9f0fd; }

.titles h2 {
  margin-bottom: 80px; }

.container-flex {
  display: flex;
  justify-content: center; }

.block-clothes {
  height: 320px;
  width: 255px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  position: relative;
  margin-right: 30px; }
  .block-clothes:last-child {
    margin-right: 0; }
  .block-clothes .link {
    width: 100%; }
    .block-clothes .link a {
      display: flex;
      align-items: flex-end;
      text-decoration: none; }
    .block-clothes .link span {
      width: 55px;
      background: #8c8c8c;
      padding-left: 10px; }
    .block-clothes .link h3 {
      width: calc(100% - 55px);
      background: #323232;
      margin: 0;
      padding-left: 15px; }

.block-clothes-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: calc(100% - 40px);
  background: rgba(115, 115, 115, 0.6);
  padding: 75px 35px;
  border: 10px #d4d4d4 solid; }
  .block-clothes-hover .group-icons {
    display: flex;
    justify-content: center;
    height: 50px; }
    .block-clothes-hover .group-icons a {
      font-size: 30px;
      width: 50px;
      text-align: center;
      border: 1px #ffffff solid;
      color: #ffffff;
      margin-right: 9px; }
      .block-clothes-hover .group-icons a:last-child {
        margin-right: 0; }
      .block-clothes-hover .group-icons a:hover {
        background: #1abc9c; }
    .block-clothes-hover .group-icons i {
      margin: 10px; }
  .block-clothes-hover .addToCart {
    margin-top: 7px;
    width: 165px;
    height: 50px;
    color: #ffffff;
    font-size: 30px;
    background: #323232;
    border: 1px #ffffff solid; }
    .block-clothes-hover .addToCart a {
      text-decoration: none;
      width: 100%;
      text-align: center;
      color: #ffffff;
      padding: 12px; }
    .block-clothes-hover .addToCart h4 {
      margin: 0;
      display: inline;
      font-family: 'Open Sans';
      text-transform: uppercase;
      font-size: 14px; }
    .block-clothes-hover .addToCart:hover {
      background: #1abc9c; }

.button-group li {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 32px;
  color: #555252;
  font-weight: 400;
  text-transform: uppercase; }

.group-elem {
  display: flex;
  justify-content: center; }

.button-group li {
  display: inline-block;
  margin-right: 15px;
  border: 1px #222222 solid;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer; }
  .button-group li:last-child {
    margin-right: 0; }
  .button-group li:hover {
    color: #ffffff;
    background: #1abc9c;
    border-color: #1abc9c; }
.button-group span {
  display: none; }

.product {
  background: #e9f0fd; }

.blocks-clothes-flex {
  display: flex;
  justify-content: center;
  padding-top: 30px; }

.block-clothes {
  height: 320px;
  width: 255px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  position: relative;
  margin-right: 30px; }
  .block-clothes:last-child {
    margin-right: 0; }
  .block-clothes img {
    position: absolute; }
  .block-clothes .link {
    width: 100%;
    z-index: 1; }
    .block-clothes .link a {
      display: flex;
      align-items: flex-end;
      text-decoration: none; }
    .block-clothes .link span {
      width: 55px;
      background: #8c8c8c;
      padding-left: 10px; }
    .block-clothes .link h3 {
      width: calc(100% - 55px);
      background: #323232;
      margin: 0;
      padding-left: 15px; }

.block-clothes-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: calc(100% - 40px);
  background: rgba(115, 115, 115, 0.6);
  padding: 75px 35px;
  border: 10px #d4d4d4 solid; }
  .block-clothes-hover .group-icons {
    display: flex;
    justify-content: center;
    height: 50px; }
    .block-clothes-hover .group-icons a {
      font-size: 30px;
      width: 50px;
      text-align: center;
      border: 1px #ffffff solid;
      color: #ffffff;
      margin-right: 9px; }
      .block-clothes-hover .group-icons a:last-child {
        margin-right: 0; }
      .block-clothes-hover .group-icons a:hover {
        background: #1abc9c; }
    .block-clothes-hover .group-icons i {
      margin: 10px; }
  .block-clothes-hover .addToCart {
    margin-top: 7px;
    width: 165px;
    height: 50px;
    color: #ffffff;
    font-size: 30px;
    background: #323232;
    border: 1px #ffffff solid; }
    .block-clothes-hover .addToCart a {
      text-decoration: none;
      width: 100%;
      text-align: center;
      color: #ffffff;
      padding: 12px; }
    .block-clothes-hover .addToCart h4 {
      margin: 0;
      display: inline;
      font-family: 'Open Sans';
      text-transform: uppercase;
      font-size: 14px; }
    .block-clothes-hover .addToCart:hover {
      background: #1abc9c; }

.end-season {
  padding: 15px 0;
  background: url(../../img/offer-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }
  .end-season h1 {
    font-family: 'Open Sans';
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    color: #ffffff;
    text-align: center; }
  .end-season h2 {
    font-family: 'Open Sans';
    font-size: 38px;
    font-weight: 300;
    margin: 0;
    color: #ffffff;
    text-align: center; }

.review {
  text-align: center; }
  .review .active-img {
    height: 225px;
    width: 225px;
    border-radius: 50%; }
  .review h3 {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 25px;
    color: #1abc9c;
    font-weight: 700;
    margin: 0; }

.olivia {
  width: 75%;
  margin: 0 auto;
  padding-top: 80px; }
  .olivia p {
    margin: 30px 0; }
    .olivia p:last-child {
      margin: 0; }

.block-images {
  text-align: center;
  padding-top: 25px; }
  .block-images ul {
    padding: 0;
    margin: 0; }
  .block-images .image-member {
    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px #252525 solid;
    position: relative;
    overflow: hidden; }
    .block-images .image-member:last-child {
      margin-right: 0; }
    .block-images .image-member img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0; }

.newsletter {
  background: #4ec6ab;
  background-image: url(../../img/bg.png);
  background-size: cover;
  background-attachment: fixed; }
  .newsletter p {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 45px; }
  .newsletter form {
    text-align: center; }
  .newsletter .form-group {
    position: relative;
    width: 540px;
    height: 61px;
    margin: 0 auto; }
  .newsletter input[type=email] {
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 20px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px; }
  .newsletter button {
    position: absolute;
    padding: 16px;
    background: #4ec6ab;
    border: none;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: 100px;
    border-radius: 0 5px 5px 0; }
    .newsletter button i {
      color: #ffffff;
      font-size: 25px; }

.news h2 {
  margin-bottom: 115px; }
.news h3 {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #555252;
  line-height: 26px;
  font-weight: 600; }
.news p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #555252;
  line-height: 26px;
  margin-top: 25px;
  padding-bottom: 18px; }
.news img {
  margin-bottom: 13px; }
.news a {
  padding: 15px 40px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background: #4ec6ab;
  border-radius: 5px; }
  .news a:hover {
    background: #17A689;
    text-decoration: none;
    transition: all 0.5s; }

.news-block {
  margin-right: 30px; }
  .news-block:last-child {
    margin-right: 30px; }

.contacts h3, .contacts h4, .contacts p, .contacts-block input, .contacts-block textarea {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 300; }

.contacts {
  background: url(../../img/map-bg.png) #2d3237 no-repeat;
  background-position: center; }
  .contacts h2 {
    color: #ffffff;
    margin-bottom: 120px; }
  .contacts h3 {
    font-size: 72px;
    line-height: 45px; }
    .contacts h3::first-letter {
      color: #4ec6ab; }
  .contacts h4 {
    font-size: 18px;
    line-height: 10px;
    font-weight: 400;
    margin: 25px 0; }
  .contacts p {
    font-size: 14px;
    line-height: 24px; }
  .contacts ul {
    padding: 0;
    margin: 0; }
  .contacts li {
    display: inline-block;
    border: 1px #ffffff solid;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    font-size: 13px;
    text-align: center;
    padding: 7px;
    background: transparent;
    list-style: none; }
    .contacts li a {
      color: #ffffff; }
    .contacts li:hover {
      background: #46bfa9;
      border-color: #46bfa9; }
  .contacts span {
    color: #46bfa9;
    font-weight: bold; }

.contacts-block {
  margin: 15px;
  margin-top: 0; }
  .contacts-block form {
    width: 100%; }
  .contacts-block input, .contacts-block textarea {
    background: transparent;
    margin: 15px;
    border: 1px #ffffff solid;
    padding: 15px;
    color: #ffffff; }
    .contacts-block input:nth-child(n-2), .contacts-block textarea:nth-child(n-2) {
      margin-top: 0; }
  .contacts-block ::-webkit-input-placeholder {
    color: #ffffff; }
  .contacts-block textarea {
    width: calc(100% - 30px);
    height: 150px; }
  .contacts-block button {
    padding: 10px 40px;
    background: #46bfa9;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 45px;
    margin-left: 15px; }

footer {
  background: #000000; }
  footer p {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #fefefe;
    padding: 20px;
    margin: 0; }

/* FONTS */
.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.container {
  padding: 100px 0;
  width: 1110px;
  margin: 0 auto; }

body {
  margin: 0;
  padding: 0; }

div {
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
