.end-season{
    padding: 15px 0;
    background: url(../img/offer-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    //height: 100%;

    h1{
        font-family: 'Open Sans';
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0;
        color: #ffffff;
        text-align: center;
    }

    h3{
        font-family: 'Open Sans';
        font-size: 38px;
        font-weight: 300;
        margin: 0;
        color: #ffffff;
        text-align: center;
    }
}

@media screen and (max-width: 720px){
    .end-season h1{
        font-size: 40px;
    }
    
    .end-season h3{
        font-size: 18px;
    }
}

@media screen and (max-width: 480px){
    .end-season > .containers{
        padding: 50px 0;
    }
    .end-season h1{
        font-size: 35px;
    }
    
    .end-season h3{
        font-size: 18px;
    }
}