footer{
    background: #78a02e;
    p{
        text-align: center;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #fefefe;
        padding: 20px;
        margin: 0;
    }
}