%li-header-top{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    line-height: 11px;
    vertical-align: 20;
    margin-left: 15px;  
}

%ul-header-top{
    margin: 15px 0;
    padding: 0;
}

.header-top > .containers{
    padding: 0;
}

.header-top{
    background: #1abc9c;
    font-family: 'Open Sans Light';
    font-size: 14px;
    color: #fefefe;
    width: 100%;
}

.phone-email{   
    @extend %ul-header-top;  
    float: left; 
    margin-left: 20px;
    li{
        @extend %li-header-top;          
    }
}

.myAccount{
    @extend %ul-header-top;
    float: right;
    margin-right: 20px;
    li{
        @extend %li-header-top;     
        a{
            color: #fefefe;
            text-decoration: none;
            
        }
    }
}

@media screen and (max-width:  800px){
    .phone-email,
    .myAccount{
        width: 100%;
        float: none;
        text-align: center;
        margin: 0px auto;
        padding: 10px;
    }
}

@media screen and (max-width:  590px){
    .phone-email,
    .myAccount{
        font-size: 12px;
    }
}






