%h1-h3{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 48px;
    vertical-align: -20; 
    font-family: 'Roboto'; 
    font-weight: 300;
}

.carousel-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slider{

    img{
        width: 100%;
    }
    
    h1{
        @extend %h1-h3; 
        margin: 0;   
        span{
             color: #1abc9c;
             font-weight: 400;
         }
    }
    
    h3{
        @extend %h1-h3;
        font-family: 'Open Sans';
        font-weight: 400;

        span{
            color: #1abc9c;
            font-weight: 300;
        }
    }
    
    .buyNow{
        @extend %h1-h3;
        display: inline-block;
        font-size: 14px;
        border: 2px #1abc9c solid; 
        text-shadow: none;
     //   margin-top: 25px;
        padding: 10px 30px;
        text-decoration: none;

        &:hover{
            background: #1abc9c;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.owl-carousel{
    overflow: auto;
}
 
@media screen and (max-width: 910px){
    .slider{
        .buyNow{
            font-size: 12px;
        }
    
        h1, h3{
            font-size: 38px;
        }
    }
}

@media screen and (max-width: 740px){

    .slider{
        .buyNow{
            font-size: 10px;
            padding: 3px 15px;
        }
    
        h1, h3{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 480px){

    .slider{
        .buyNow{
            font-size: 9px;
            padding: 2px 9px;
        }
    
        h1, h3{
            font-size: 14px;
            margin: 0;
        }
    }
}

@media screen and (max-width: 400px){

    .slider{
        .buyNow{
            font-size: 8px;
            padding: 3px 10px;
        }
    
        h1, h3{
            font-size: 9px;
            margin-bottom: 0.2rem;
        }
    }
}

